<div class="w-screen h-screen
            flex flex-col justify-center items-center
            bg-neutral-900">
  <div class="
    w-11/12 sm:w-3/4 md:w-2/3 lg:w-[35%]
    flex flex-col items-center
    rounded-md
    py-5 px-4 sm:px-8 gap-14
    text-white text-center
    bg-neutral-800">
    <div class="w-full flex flex-col sm:flex-row justify-between text-neutral-400">
      <p>Tentativa nº{{ attempts + 1 }}</p>
      <p>Probabilidade: {{ probability }}</p>
    </div>
    <div>
      <div>
        <button 
          class="
            focus-visible:border-none 
            font-extralight 
            {{ automaticShuffle ? 'text-neutral-300' : 'text-neutral-500' }}"
          (click)="automaticShuffle = !automaticShuffle"
        >Automático</button>
      </div>
      <p class="text-2xl font-bold mt-2 mb-4">{{ phrase }}</p>
      <div >
        <p *ngIf="didWin" class="text-violet-400">Parabéns! Você ganhou na {{ attempts + 1 }}ª tentativa!!</p>
        <br *ngIf="!didWin">
      </div>
    </div>
    <div class="flex gap-4">
      <button 
        type="button" 
        class="
          w-26
          bg-violet-700 hover:bg-violet-900 hover:disabled:bg-violet-700
          disabled:cursor-not-allowed
          transition-colors
          px-4 py-2 rounded-md"
        [disabled]="didWin" 
        (click)="shufflePhrase()"
      >Misturar</button>
      <button
        type="button"
        class="
          w-26
          bg-neutral-700 hover:bg-neutral-900 hover:disabled:bg-neutral-700
          disabled:cursor-not-allowed
          transition-colors
          px-4 py-2 
          rounded-md"
        [disabled]="attempts === 0"
        (click)="resetGame()"
      >Resetar</button>
    </div>
  </div>
</div>
